.main {
  display: flex;
  height: 100%;
  margin-top: 28px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-family: var(--font-family);
}

.container {
  width: 100%;
  max-width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.logo {
  margin-bottom: 12px;
  width: 140px;
}

.header {
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 32px;
  color: #1f2937;
  text-align: left;
}

.inputs {
  gap: 15px !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  padding: 16px;
  font-size: 18px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 16px;
}

.forgotPassword {
  text-align: center;
  color: #6b7280;
  margin-top: 30px;
  margin-bottom: 32px;
}

.button {
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  margin-bottom: 12px;
  margin-top: 32px;
}

.or {
  text-align: center;
  color: #6b7280;
  margin-top: 10px;
  margin-bottom: 22px;
}

.signup {
  text-align: center;
  color: #6b7280;
}

.signupLink {
  color: #3b82f6;
}
